/* Page styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    padding: 20px;
}

/* Title */
.title {
    background-color: brown;
    color: white;
    padding: 6px 12px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 4px;
}
#d1{
    background-color: rgb(209, 232, 247);
}
/* Textarea */
textarea {
    width: 100%;
    max-width: 800px;
    height: 180px;
    padding: 10px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    resize: vertical;
}

/* Buttons */
button {
    padding: 8px 14px;
    margin: 5px 4px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Result text */
p {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
    background-color: #eae4e8;
    
}
#ff{
    box-sizing: content-box;  
    /* background-color: aquamarine;  */

    

}
div {
    width: 650px;
    height: 200px;
    padding: 10px;
    /* background-color: #007bff; */

    
    box-sizing: content-box;
}

